{% load i18n admin_urls %}

{% if cl %}
    {% url cl.opts|admin_urlname:"add" as add_url %}
    {% blocktranslate with name=cl.opts.verbose_name asvar title %}{{ name }} qo'shish{% endblocktranslate %}
{% else %}
    {% url opts|admin_urlname:"add" as add_url %}
    {% blocktranslate with name=opts.verbose_name asvar title %}{{ name }} qo'shish{% endblocktranslate %}
{% endif %}

{% if add_url %}
    <li class="flex flex-row items-center">
        <span class="block bg-gray-200 h-5 mx-4 w-px dark:bg-gray-700"></span>

        <a href="{% add_preserved_filters add_url is_popup to_field %}"
           class="rb-add-btn addlink flex items-center gap-2 h-10 justify-center -my-1 px-4 rounded-lg font-semibold text-sm text-white"
           title="{{ title }}">
            <span class="material-symbols-outlined text-white" style="font-size:20px">add</span>
            <span>{% translate "Qo'shish" %}</span>
        </a>
    </li>
{% endif %}
